div.LightEditorKeyboard{
	display:none;
	border:1px solid #999;
	font:27px arial;
	padding:0;
	margin:0;
	position:absolute;
	width:1024px;
	height:365px;
	left:0;
	top:0;
}
div.LightEditorKeyboard .panel{
	float:left;
	width:990px;
	display:none;
}
div.LightEditorKeyboard .panel.selected{
	display:block;
}
div.LightEditorKeyboard .panel > div{
	text-align:right;
	padding:0;
	margin:1px 0;
	float:right;
	clear:right;
}
div.LightEditorKeyboard .panel > div > div{
	margin:5px 5px 5px 5px;
	text-align:center;
	min-width:75px;
	height:73px;
	float:left;
	line-height:73px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	padding:0;
}
div.LightEditorKeyboard .panel > div > div.spacebar{
	white-space:pre;
}
div.LightEditorKeyboard .panel > div > div.enter{
	width:150px;
}
div.LightEditorKeyboard .panel > div > div.first{
	margin: 6px 5px 6px 0;
}
div.LightEditorKeyboard .panel > div > div.last{
	margin: 6px 0 6px 5px;
}
div.LightEditorKeyboard .panel > div > div.modifier{
	width: 120px;
}
div.LightEditorKeyboard .panel > div > div.large{
	width: 160px;
}
div.LightEditorKeyboard .panel > div > div.spacer{
	border:1px solid black;
	background:none;
}
div.LightEditorKeyboard .panelCtrl{
	height:365px;
	width:23px;
	line-height:365px;
	color:#d96;
	text-align:center;
	background:#4a4444;
}